/* Login.css */

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(135deg, #007bff, #00c6ff); */
    min-height: 100vh;
    padding: 20px;
}

.login-container {
    display: flex;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 900px;
    min-width: 350;
    width: 100%;
}

.login-left {
    flex: 3;
    background: #f4f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px, 10px, 0px, 0px;
}

.login-form {
    flex: 2;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form h2 {
    font-size: 28px;
    color: #004e92;
    margin-bottom: 10px;
    font-weight: 700;
}

.subtitle {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
}






.login-btn:hover {
    transform: translateY(-2px);
    color: white;
    background: linear-gradient(135deg, #00c6ff, #007bff);
    box-shadow: 0 6px 15px rgba(0, 123, 255, 0.3);
}

.login-btn {
    display: inline-block;
    padding: 10px 32px;
    border-radius: 80px;
    font-size: 14px;
    font-weight: 600;
    color: #0077b6;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}



.signup-text {
    text-align: center;
    margin-top: 25px;
    color: #444;
}

.signup-text a {
    color: #007bff;
    text-decoration: none;
    font-weight: 600;
}

.signup-text a:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 900px) {
    .login-container {
        flex-direction: column;
        max-width: 400px;
    }

    .login-left {
        display: none;
    }

    .login-form {
        padding: 30px 25px;
    }
}

@media (max-width: 480px) {
    .login-form h2 {
        font-size: 22px;
    }

    */ .input-group input {
        padding: 10px;
        font-size: 14px;
    }

    .login-btn {
        font-size: 14px;
        padding: 12px;
    }
}