.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-group label {
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
}

.input-group span{
    color: red;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.input-wrapper input {
    width: 100%;
    padding: 12px;
    border: 1.5px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    transition: all 0.3s ease;
}

.input-wrapper input:focus {
    border-color: #007bff;
    box-shadow: 0 0 6px rgba(0, 123, 255, 0.3);
}




.toggle-icon {
    position: absolute;
    right: 12px;
    cursor: pointer;
    font-size: 18px;
    color: #666;
    transition: color 0.2s, transform 0.2s;
    border-radius: 50%;
    padding: 6px;
    overflow: hidden;
}

.toggle-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(0, 123, 255, 0.3);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: width 0.4s ease, height 0.4s ease, opacity 0.4s ease;
}

.toggle-icon:active::after {
    width: 40px;
    height: 40px;
    opacity: 1;
}

.toggle-icon:hover {
    color: #007bff;
    transform: scale(1.1);
}