.btn {
    border: none;
    color: #fff;
    padding: 14px;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 600;
    width: 100%;
    transition: all 0.3s ease;
}

.btn-primary {
    background: linear-gradient(135deg, #007bff, #00c6ff);
}

.btn-primary:hover {
    background: linear-gradient(135deg, #00c6ff, #007bff);
    box-shadow: 0 6px 15px rgba(0, 123, 255, 0.3);
}

.btn-secondary {
    /* background: linear-gradient(135deg, #6c757d, #adb5bd); */
    background: transparent;
    color: #007bff;
    border: 2px solid #007bff;
}
.btn-secondary:hover {
    background: #007bff;
    color: #fff;
}